name: Update Citron Manifest

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'manifest.json'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Repository
      # fetch-depth: 0 ensures we have the full history for a clean rebase
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Run Manifest Generator
        run: python scripts/generate_manifest.py

      - name: Auto Commit Manifest
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Auto-update manifest.json"
          file_pattern: 'manifest.json'
